body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2.welcome-msg,
h4.welcome-msg {
  font-weight: 300;
}

h5.profile-email,
h6.profile-email {
  font-weight: 200;
}

button.btn {
  margin-top: 0.5rem;
  padding: 0 70px;
}

#profile {
  position: relative;
}

button#rigth-btn {
  right: 0px;
  position: absolute;
}

@media (max-width: 500px) {
  h2.welcome-msg {
    font-size: 2.19rem;
  }
  h5.profile-email {
    font-size: 1.25rem;
  }
}
